version: "3"

services:
    sagasphere:
        container_name: sagasphere
        image: node:7-slim
        network_mode: "host"
        volumes:
            - ./sagasphere:/usr/src/sagasphere
        ports: 
            - "${SAGASPHERE_PORT}:${SAGASPHERE_PORT}"
        command: ["bash","-c","cd /usr/src/sagasphere && yarn build && yarn start"]
    sagasphere_mysql:
        container_name: sagasphere_mysql
        image: mysql:latest
        volumes: 
            # Default MySQL data volume
            - /var/lib/mysql
            # Init database with our SQL file
            - ./sagasphere_mysql/${SAGASPHERE_ENV}/:/docker-entrypoint-initdb.d/${SAGASPHERE_ENV}
        expose:
            # Default MySQL listening port 
            - "${SAGASPHERE_MYSQL_PORT}"
        environment:
            # Environment variables preceed by SAGASPHERE_MYSQL_
            - MYSQL_ROOT_PASSWORD=${SAGASPHERE_MYSQL_PASSWORD}
            - MYSQL_DATABASE=${SAGASPHERE_MYSQL_DATABASE}
    sagasphere_sessions:
        container_name: sagasphere_sessions
        image: redis:alpine
        ports:
            - "${SAGASPHERE_REDIS_PORT}:${SAGASPHERE_REDIS_PORT}"
        environment:
            # Environment variables preceed by REDIS_
            - REDIS_PORT=${SAGASPHERE_REDIS_PORT}
    sagasphere_news:
        container_name: sagasphere_news
        image: k0rdan/sagasphere_news:${SAGASPHERE_NEWS_VERSION}
        environment:
            # Environment variables preceed by SAGASPHERE_MYSQL_
            - SAGASPHERE_MYSQL_HOST=${SAGASPHERE_MYSQL_HOST}
            - SAGASPHERE_MYSQL_PORT=${SAGASPHERE_MYSQL_PORT}
            - SAGASPHERE_MYSQL_LOCALADDRESS=${SAGASPHERE_MYSQL_LOCALADDRESS}
            - SAGASPHERE_MYSQL_USER=${SAGASPHERE_MYSQL_USER}
            - SAGASPHERE_MYSQL_PASSWORD=${SAGASPHERE_MYSQL_PASSWORD}
            - SAGASPHERE_MYSQL_DATABASE=${SAGASPHERE_MYSQL_DATABASE}
        depends_on:
            - sagasphere_mysql
        command: ["bash","-c","yarn start"]